.tasks {
  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #64c4ed;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;

    &:hover {
      img {
        opacity: 0.2;
      }
    }
    img {
      margin-left: 15px;
      opacity: 0;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__form {
    &-block {
      margin-top: 20px;
    }

    &-new {
      display: flex;
      align-items: center;
      margin-top: 10px;
      opacity: 0.4;
      transition: opacity 0.15s ease-in-out;
      cursor: pointer;
      
      &:hover {
        opacity: 0.8;
      }

      img {
        width: 16px;
        height: 16px;
        margin-left: 4px;
      }

      span {
        font-size: 16px;
        margin-left: 15px;
      }
    }
  }

  &__items {
    margin-top: 30px;

    h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 22px;
      color: #c9d1d3;
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
    }
    &-row {
      display: flex;
      align-items: center;
      input {
        width: 100%;
        border: none;
        padding: 10px;
        font-size: 16px;
      }
    }
  }

  .checkbox {
    label {
      border: 2px solid #e8e8e8;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: #f2f2f2;
        border: 2px solid #f2f2f2;
        svg {
          opacity: 0.2;
        }
      }

      svg {
        opacity: 0;
      }
    }
    input {
      display: none;
    }
    input:checked + label {
      background: #4dd599;
      border: 2px solid #4dd599;
      svg {
        opacity: 1;
        path {
          stroke: #fff;
        }
      }
    }
  }
}
