* {
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 530px;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  font-size: 14px;

  &__tasks {
    flex: 1;
    padding: 60px;
    overflow: auto;
  }

  &__sidebar {
    background-color: #f4f6f8;
    width: 200px;
    min-height: calc(100% - 120px);
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
    border-radius: 9px;
  }
}

.field {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  font-family: "Lato", sans-serif;

  &--add {
    margin-bottom: 16px;
  }

  &:focus {
    border-color: #dbdbdb;
  }

  &::placeholder {
    color: #c7c7c7;
    font-family: "Lato", sans-serif;
  }
}

.button {
  padding: 10px 20px;
  background: #4dd599;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  border: none;
  cursor: pointer;
  
  &:hover {
    background: darken(#4dd599, 6%);
  }

  &:active {
    background: darken(#4dd599, 10%);
  }
  &--grey {
    background: #f4f6f8;
    color: #9c9c9c;
    margin-left: 10px;

    &:hover {
      background: darken(#f4f6f8, 4%);
    }

    &:active {
      background: darken(#f4f6f8, 60%);
    }
  }

  &:disabled {
    background: #e6e6e6;
    color: #b9b9b9;
  }
}
